{% extends "base.html" %}

{% block content %}
        
<h1>Add a Blog Entry</h1>
<form action="/addBlogEntry" method='POST'>
    <label for="blog-id-title">
        Title for your new blog:
        <input type="text" name='blog_title' /></h1></h1>
    </label>
    <br /> 
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <span class="{{category}}">{{message}}</span></p>
        {% endfor %}
    {% endwith %}   



<form action="/addBlogEntry" method='POST'>
    <label for="blog-id-body">
        Your new blog:
        <input type="text" name='blog_body' />
    </label>
    <br />
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category,message in messages %}
            <span class="{{category}}">{{message}}</span></p>
        {% endfor %}
    {% endwith %}    
    <input type="submit" value='Add Entry' />

</form>

        {% for blog in blogs %}
        <h1>{{blog.title}}</h1>
        <p>{{blog.body}}</p>
            <form method="POST" action="/addBlogEntry">
                <input type="hidden" name="blog-id-title" value="{{blog.id}}" />
            </form>
        <br />
            <form method="POST" action="/addBlogEntry">
                <input type="hidden" name="blog-id-body" value="{{blog.id}}" />
            </form>
            
        {% endfor %}
{% endblock %}