{% extends "base.html" %}

{% block content %}
        
<h1 style="text-align: center">Add a Blog Entry</h1>
<form action="/addBlogEntry" method='POST'>
    <label for="blog-id-title">
        Title for your new blog:
        <br />
        <input type="text" name='blog_title' /></h1></h1>
    </label>
    <br /> 
    <span class="error">{{title_error}}</span></p>

<form action="/addBlogEntry" method='POST'>
    <label for="blog-id-body">
        Your new blog:
        <br />
        <input type="text" name='blog_body'></textarea>
    </label>
    <br />
    <span class="error" name='blog_body'>{{blog_error}}</span></p>

    <input type="submit" value='Add Entry' />

</form>

       <!--  {% for blog in blogs %}
        <h1>{{blog.title}}</h1>
        <p>{{blog.body}}</p>
            <form method="POST" action="/addBlogEntry">
                <input type="hidden" name="blog-id-title" value="{{blog.id}}" />
            </form>
        <br />
            <form method="POST" action="/addBlogEntry">
                <input type="hidden" name="blog-id-body" value="{{blog.id}}" />
            </form>
            
        {% endfor %} -->
{% endblock %}